// BOOSTERS TEAM
// ============Font-Family=========//
//---------------------------------//
$main-font:'Poppins',
sans-serif;
$secondary-font:'Cabin',
sans-serif;
//---------------------------------//
// ============= Weight ===========//
//---------------------------------//
$weight-unit:100;
$bold-weight:6*$weight-unit;
$reg-weight:5*$weight-unit;
$light-weight:4*$weight-unit;